@import url('https://fonts.googleapis.com/css2?family=Revalia&family=Roboto:wght@400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.home__container{
    background-color: #EEEFF1;
}
.container{
    width: 1150px;
    margin: auto;
    padding: 0 20px;
}
header{
    display: flex;
    justify-content: space-between;
}
.home__name{
    font-family: Revalia;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    color: #34547A;
}
ul{
    display: flex;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #34547A;
}
li{
    padding-left: 42px;
    list-style-type: none;
}
a{
    display: block;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover{
    color: #34547A;
}